/* Увеличение логотипа */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  width: 80px;   /* Нужная ширина */
  height: auto;   /* Сохраняет пропорции */
}

/* Для мобильных устройств (опционально) */
@media screen and (max-width: 760px) {
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    width: 40px;  /* Меньший размер для мобилок */
  }
}
.md-header__button.md-logo {
  padding: 0;  /* Убирает внутренние отступы */
}

/* Обтекание справа */
.img-float-right {
  float: right;
  margin: 0 0 15px 25px; /* Отступы: верх право низ лево */
  max-width: 35%; /* Чтобы изображение не занимало всю ширину */
  width: 50%;
}

/* Обтекание слева */
.img-float-left {
  float: left;
  margin: 0 25px 15px 0;
  max-width: 55%;
  width: 55%;
}

/* Отмена обтекания для мобильных устройств */
@media (max-width: 760px) {
  .img-float-right,
  .img-float-left {
    float: none;
    margin: 20px auto;
    max-width: 100%;
  }
}

/* Центрирование */
.img-center {
  display: block;
  margin: 0 auto;
}